In [1]:
import os
import pandas as pd
from collections import OrderedDict
import numpy as np

`os.path.join(path, *paths)`<br>
Join one or more path components intelligently. The return value is the concatenation of path and any members of *paths with exactly one directory separator (os.sep) following each non-empty part except the last, meaning that the result will only end in a separator if the last part is empty. If a component is an absolute path, all previous components are thrown away and joining continues from the absolute path component.

### Country Code Concordances for Merging Records

In [2]:
codes = pd.read_csv('code-concordance.csv')

In [3]:
codes.head()

  WBcode       WBname COWabb  COWcode      COWname        Income  MENA
0    AFG  Afghanistan    AFG    700.0  Afghanistan           Low     0
1    ALB      Albania    ALB    339.0      Albania  Upper-Middle     0
2    DZA      Algeria    ALG    615.0      Algeria  Upper-Middle     1
3    ADO      Andorra    AND    232.0      Andorra          High     0
4    AGO       Angola    ANG    540.0       Angola  Upper-Middle     0

### World Bank World Development Indicators (WDI)
https://data.worldbank.org/data-catalog/world-development-indicators

In [4]:
wdi = pd.read_csv(os.path.join('WDI', '7da42276-af1e-4ecf-ba32-04108473c2e7_Data.csv'))

In [5]:
wdi.head()

,Country Name,Country Code,Time,Time Code,"Net official flows from UN agencies, UNAIDS (current US$) [DT.NFL.UNAI.CD]",Net official aid received (current US$) [DT.ODA.OATL.CD],"Net bilateral aid flows from DAC donors, United States (current US$) [DC.DAC.USAL.CD]","Net bilateral aid flows from DAC donors, Total (current US$) [DC.DAC.TOTL.CD]",GDP (current US$) [NY.GDP.MKTP.CD],GDP growth (annual %) [NY.GDP.MKTP.KD.ZG],...,"Educational attainment, at least completed lower secondary, population 25+, male (%) (cumulative) [SE.SEC.CUAT.LO.MA.ZS]","Educational attainment, at least completed primary, population 25+ years, female (%) (cumulative) [SE.PRM.CUAT.FE.ZS]","Educational attainment, at least completed primary, population 25+ years, male (%) (cumulative) [SE.PRM.CUAT.MA.ZS]","Educational attainment, at least completed primary, population 25+ years, total (%) (cumulative) [SE.PRM.CUAT.ZS]",Incidence of HIV (% of uninfected population ages 15-49) [SH.HIV.INCD.ZS],Individuals using the Internet (% of population) [IT.NET.USER.ZS],"Labor force participation rate, female (% of female population ages 15+) (modeled ILO estimate) [SL.TLF.CACT.FE.ZS]","Labor force participation rate, male (% of male population ages 15+) (modeled ILO estimate) [SL.TLF.CACT.MA.ZS]","Population, total [SP.POP.TOTL]","Unemployment, total (% of total labor force) (modeled ILO estimate) [SL.UEM.TOTL.ZS]"
0,Afghanistan,AFG,1960.0,YR1960,..,..,15000000,15670000,537777811.1,..,...,..,..,..,..,..,..,..,..,8996351,..
1,Afghanistan,AFG,1961.0,YR1961,..,..,30000000,33550000,548888895.6,..,...,..,..,..,..,..,..,..,..,9166764,..
2,Afghanistan,AFG,1962.0,YR1962,..,..,13000000,15260000,546666677.8,..,...,..,..,..,..,..,..,..,..,9345868,..
3,Afghanistan,AFG,1963.0,YR1963,..,..,32000000,34880000,751111191.1,..,...,..,..,..,..,..,..,..,..,9533954,..
4,Afghanistan,AFG,1964.0,YR1964,..,..,37000000,44220000,800000044.4,..,...,..,..,..,..,..,..,..,..,9731361,..

In [6]:
wdi_mortality = pd.read_csv(os.path.join('WDI', '14f3b5cc-5125-4012-9b9c-517473664bf8_Data.csv'))

In [7]:
wdi_mortality.columns

Index(['Country Name', 'Country Code', 'Time', 'Time Code',
       'Maternal mortality ratio (modeled estimate, per 100,000 live births) [SH.STA.MMRT]',
       'Mortality rate, infant (per 1,000 live births) [SP.DYN.IMRT.IN]',
       'Life expectancy at birth, female (years) [SP.DYN.LE00.FE.IN]',
       'Life expectancy at birth, male (years) [SP.DYN.LE00.MA.IN]',
       'Life expectancy at birth, total (years) [SP.DYN.LE00.IN]'],
      dtype='object')

In [8]:
wdi_mortality.head()

,Country Name,Country Code,Time,Time Code,"Maternal mortality ratio (modeled estimate, per 100,000 live births) [SH.STA.MMRT]","Mortality rate, infant (per 1,000 live births) [SP.DYN.IMRT.IN]","Life expectancy at birth, female (years) [SP.DYN.LE00.FE.IN]","Life expectancy at birth, male (years) [SP.DYN.LE00.MA.IN]","Life expectancy at birth, total (years) [SP.DYN.LE00.IN]"
0,Afghanistan,AFG,1960.0,YR1960,..,245.7,33.133,31.58,32.33756098
1,Afghanistan,AFG,1961.0,YR1961,..,241.2,33.586,32.026,32.78697561
2,Afghanistan,AFG,1962.0,YR1962,..,236.9,34.03,32.466,33.22892683
3,Afghanistan,AFG,1963.0,YR1963,..,232.7,34.469,32.903,33.66690244
4,Afghanistan,AFG,1964.0,YR1964,..,228.5,34.904,33.338,34.10190244

In [9]:
del wdi['Country Name']
del wdi['Time Code']
wdi = wdi.merge(wdi_mortality, on=['Country Code', 'Time'], how='left')

In [10]:
#map abbreviated col names to long col descripts
wdi_col_map = OrderedDict()
for col in wdi.columns:
    if '[' in col:
        col_parts = col.split('[')
        wdi_col_map[col_parts[1].strip(']')] = col_parts[0].strip()
    else:
        wdi_col_map['.'.join(col.split())] = col

In [11]:
wdi.columns = wdi_col_map.keys()
wdi.replace('..', np.nan, inplace=True)

In [12]:
wdi.head()

,Country.Code,Time,DT.NFL.UNAI.CD,DT.ODA.OATL.CD,DC.DAC.USAL.CD,DC.DAC.TOTL.CD,NY.GDP.MKTP.CD,NY.GDP.MKTP.KD.ZG,NY.GDP.PCAP.CD,SP.POP.DPND.YG,...,SL.TLF.CACT.MA.ZS,SP.POP.TOTL,SL.UEM.TOTL.ZS,Country.Name,Time.Code,SH.STA.MMRT,SP.DYN.IMRT.IN,SP.DYN.LE00.FE.IN,SP.DYN.LE00.MA.IN,SP.DYN.LE00.IN
0,AFG,1960.0,NaN,NaN,15000000,15670000,537777811.1,NaN,59.77732651,76.52247462,...,NaN,8996351,NaN,Afghanistan,YR1960,NaN,245.7,33.133,31.58,32.33756098
1,AFG,1961.0,NaN,NaN,30000000,33550000,548888895.6,NaN,59.87815281,77.52917821,...,NaN,9166764,NaN,Afghanistan,YR1961,NaN,241.2,33.586,32.026,32.78697561
2,AFG,1962.0,NaN,NaN,13000000,15260000,546666677.8,NaN,58.49287383,78.08540637,...,NaN,9345868,NaN,Afghanistan,YR1962,NaN,236.9,34.03,32.466,33.22892683
3,AFG,1963.0,NaN,NaN,32000000,34880000,751111191.1,NaN,78.78275804,78.37535115,...,NaN,9533954,NaN,Afghanistan,YR1963,NaN,232.7,34.469,32.903,33.66690244
4,AFG,1964.0,NaN,NaN,37000000,44220000,800000044.4,NaN,82.20844386,78.62537426,...,NaN,9731361,NaN,Afghanistan,YR1964,NaN,228.5,34.904,33.338,34.10190244

### Merge WDI data with Codes data to start Main DataFrame

In [13]:
df = wdi.merge(codes, left_on='Country.Code', right_on='WBcode', how='left')
# remove redundant columns
del df['Country.Code']
del df['Country.Name']

In [14]:
df.head()

,Time,DT.NFL.UNAI.CD,DT.ODA.OATL.CD,DC.DAC.USAL.CD,DC.DAC.TOTL.CD,NY.GDP.MKTP.CD,NY.GDP.MKTP.KD.ZG,NY.GDP.PCAP.CD,SP.POP.DPND.YG,SH.CON.1524.FE.ZS,...,SP.DYN.LE00.FE.IN,SP.DYN.LE00.MA.IN,SP.DYN.LE00.IN,WBcode,WBname,COWabb,COWcode,COWname,Income,MENA
0,1960.0,NaN,NaN,15000000,15670000,537777811.1,NaN,59.77732651,76.52247462,NaN,...,33.133,31.58,32.33756098,AFG,Afghanistan,AFG,700.0,Afghanistan,Low,0.0
1,1961.0,NaN,NaN,30000000,33550000,548888895.6,NaN,59.87815281,77.52917821,NaN,...,33.586,32.026,32.78697561,AFG,Afghanistan,AFG,700.0,Afghanistan,Low,0.0
2,1962.0,NaN,NaN,13000000,15260000,546666677.8,NaN,58.49287383,78.08540637,NaN,...,34.03,32.466,33.22892683,AFG,Afghanistan,AFG,700.0,Afghanistan,Low,0.0
3,1963.0,NaN,NaN,32000000,34880000,751111191.1,NaN,78.78275804,78.37535115,NaN,...,34.469,32.903,33.66690244,AFG,Afghanistan,AFG,700.0,Afghanistan,Low,0.0
4,1964.0,NaN,NaN,37000000,44220000,800000044.4,NaN,82.20844386,78.62537426,NaN,...,34.904,33.338,34.10190244,AFG,Afghanistan,AFG,700.0,Afghanistan,Low,0.0

### Polity IV Data on Regime Type (Autocracy - Democracy) and Durability
http://www.systemicpeace.org/inscrdata.html

In [17]:
polity = pd.read_excel('p4v2016.xls')
polity = polity[['ccode', 'year', 'polity2', 'durable']]
# polity2 = time series version of polity score -10, most autocratic, to 10, most democratic
# durable = number of years since a country has had a regime change (change of 3 or more in polity2)

In [18]:
polity.head()

   ccode  year  polity2  durable
0    700  1800     -6.0      NaN
1    700  1801     -6.0      NaN
2    700  1802     -6.0      NaN
3    700  1803     -6.0      NaN
4    700  1804     -6.0      NaN

### Merge with Main DataFrame

In [19]:
df = df.merge(polity, left_on=['COWcode', 'Time'], right_on=['ccode', 'year'], how='left')
del df['ccode']
del df['Time']

In [20]:
df.head()

,DT.NFL.UNAI.CD,DT.ODA.OATL.CD,DC.DAC.USAL.CD,DC.DAC.TOTL.CD,NY.GDP.MKTP.CD,NY.GDP.MKTP.KD.ZG,NY.GDP.PCAP.CD,SP.POP.DPND.YG,SH.CON.1524.FE.ZS,SH.CON.1524.MA.ZS,...,WBcode,WBname,COWabb,COWcode,COWname,Income,MENA,year,polity2,durable
0,NaN,NaN,15000000,15670000,537777811.1,NaN,59.77732651,76.52247462,NaN,NaN,...,AFG,Afghanistan,AFG,700,Afghanistan,Low,0.0,1960.0,-10.0,NaN
1,NaN,NaN,30000000,33550000,548888895.6,NaN,59.87815281,77.52917821,NaN,NaN,...,AFG,Afghanistan,AFG,700,Afghanistan,Low,0.0,1961.0,-10.0,NaN
2,NaN,NaN,13000000,15260000,546666677.8,NaN,58.49287383,78.08540637,NaN,NaN,...,AFG,Afghanistan,AFG,700,Afghanistan,Low,0.0,1962.0,-10.0,NaN
3,NaN,NaN,32000000,34880000,751111191.1,NaN,78.78275804,78.37535115,NaN,NaN,...,AFG,Afghanistan,AFG,700,Afghanistan,Low,0.0,1963.0,-10.0,NaN
4,NaN,NaN,37000000,44220000,800000044.4,NaN,82.20844386,78.62537426,NaN,NaN,...,AFG,Afghanistan,AFG,700,Afghanistan,Low,0.0,1964.0,-7.0,0.0

### USAID Donor/Recipient Data
http://aiddata.org/data/aiddata-core-research-release-level-1-3-1

In [22]:
aid = pd.read_csv(os.path.join('AidData', 'AidDataCoreDonorRecipientYearPurpose_ResearchRelease_Level1_v3.1.csv'))

##### Subset to aid delivered either by the UN or the US

In [23]:
aid.donor.value_counts()

United States                                                                             56631
Germany                                                                                   51193
France                                                                                    50875
Spain                                                                                     38655
Canada                                                                                    35829
Norway                                                                                    31935
Japan                                                                                     31220
United Kingdom                                                                            29545
United Nations Children`s Fund (UNICEF)                                                   29254
Belgium                                                                                   28236
Netherlands                                                                               25669
Italy                                                                                     24853
Sweden                                                                                    24513
European Communities (EC)                                                                 24448
Australia                                                                                 23917
Switzerland                                                                               20483
United Nations Development Programme (UNDP)                                               14802
Korea                                                                                     14577
Finland                                                                                   13015
Austria                                                                                   12068
Ireland                                                                                   11018
Denmark                                                                                    8339
World Bank - International Development Association (IDA)                                   6903
Portugal                                                                                   6695
Asian Development Bank (ASDB)                                                              6608
Luxembourg                                                                                 6274
New Zealand                                                                                6088
World Bank - International Bank for Reconstruction and Development (IBRD)                  6018
United Nations Population Fund (UNFPA)                                                     5836
Inter-American Development Bank (IADB)                                                     5418
                                                                                          ...
Hungary                                                                                     264
Asian Development Bank (AsDB Special Funds)                                                 246
Nordic Development Fund (NDF)                                                               243
Slovenia                                                                                    243
World Trade Organization (WTO)                                                              242
United Nations Economic Commission for Europe (UNECE)                                       232
United Nations Democracy Fund (UNDEF)                                                       220
Lithuania                                                                                   193
Cyprus                                                                                      171
Colombia                                                                                    168
United Nations High Commissioner for Refugees (UNHCR)                                       158
Monaco                                                                                      157
United Nations Peacebuilding Fund (UNPBF)                                                   151
North American Development Bank (NADB)                                                      150
African Capacity Building Foundation (ACBF)                                                 124
World Bank - Carbon Finance Unit                                                            102
Latvia                                                                                       85
Nigerian Trust Fund (NTF)                                                                    78
South Africa                                                                                 52
United Nations Relief and Works Agency for Palestine Refugees in the Near East (UNRWA)       48
Romania                                                                                      42
Global Green Growth Institute (GGGI)                                                         38
Multilateral Fund for the Implementation of the Montreal Protocol                            33
Congo Basin Forest Fund (CBFF)                                                               11
World Bank - Debt Reduction Facility                                                          7
Qatar                                                                                         6
Global Partnership for Education                                                              6
United Nations Economic and Social Commission for Western Asia (UNESCWA)                      3
United Nations Economic and Social Commission for Asia and the Pacific (UNESCAP)              3
World Trade Organization (WTO) - International Trade Centre                                   1
Name: donor, Length: 96, dtype: int64

In [24]:
aid = aid[(aid['donor'] == 'United States') | (aid['donor'].str.contains('United Nations'))]
aid.donor.value_counts()

United States                                                                             56631
United Nations Children`s Fund (UNICEF)                                                   29254
United Nations Development Programme (UNDP)                                               14802
United Nations Population Fund (UNFPA)                                                     5836
Joint United Nations Programme on HIV/AIDS (UNAIDS)                                        2102
United Nations Economic Commission for Europe (UNECE)                                       232
United Nations Democracy Fund (UNDEF)                                                       220
United Nations High Commissioner for Refugees (UNHCR)                                       158
United Nations Peacebuilding Fund (UNPBF)                                                   151
United Nations Relief and Works Agency for Palestine Refugees in the Near East (UNRWA)       48
United Nations Economic and Social Commission for Asia and the Pacific (UNESCAP)              3
United Nations Economic and Social Commission for Western Asia (UNESCWA)                      3
Name: donor, dtype: int64

In [25]:
# aggregate
aid['donor_agg'] = 'United Nations'
aid.loc[aid['donor']=='United States', 'donor_agg'] = 'United States'
aid.donor_agg.value_counts()

United States     56631
United Nations    52809
Name: donor_agg, dtype: int64

##### Focus on aid impacting women, reproductive rights, and family planning

In [26]:
for k, v in aid.coalesced_purpose_name.value_counts().items():
    print(k, '-', v)

Strengthening civil society - 4405
Multisector aid - 4120
Social/ welfare services - 3564
Reproductive health care - 3416
STD control including HIV/AIDS - 3008
Economic and development policy/planning - 2995
Std control including hiv/aids - 2969
Legal and judicial development - 2633
Government administration - 2478
Basic health care - 2325
Material relief assistance and services - 2304
Sectors not specified - 2258
Primary education - 2257
Population policy and administrative management - 2148
Family planning - 1706
Food security programmes/food aid - 1582
Multisector aid for social services - 1577
Basic nutrition - 1549
Environmental policy and administrative management - 1543
Business support services and institutions - 1411
Disaster prevention and preparedness - 1371
Population policy and admin. mgmt - 1313
Agricultural development - 1295
Bio-diversity - 1206
Infectious disease control - 1142
Employment policy and administrative management - 1138
Administrative costs - 1091
Industrial development - 1046
Environmental policy and admin. mgmt - 1046
Public sector policy and adm. management - 1008
Early childhood education - 928
General budget support - 904
Education facilities and training - 888
Infectious & Parasitic disease control - 868
Public sector financial management - 847
Food aid/Food security programmes - 811
Reconstruction relief and rehabilitation - 810
Basic drinking water supply and basic sanitation - 790
Emergency food aid - 772
Women in development - 771
Security system management and reform - 749
Social/welfare services - 713
Civilian peace-building, conflict prevention and resolution - 699
Agricultural policy and administrative management - 697
Health policy & admin. management - 668
Government and civil society, general, combination of activities - 643
Energy policy and administrative management - 638
Land mine clearance - 626
Agricultural services, purpose - 625
Air transport - 601
Health policy and administrative management - 590
Democratic participation and civil society - 582
Financial policy and administrative management - 582
Education policy & admin. management - 575
Human rights - 560
Water supply and sanitation - large systems - 539
Rural development - 528
Information and communication technology (ICT) - 511
Relief co-ordination; protection and support services - 506
Trade policy and administrative management - 496
Education policy and administrative management - 493
Water resources policy and administrative management - 487
Action relating to debt - 478
Business support services & institutions - 475
Agricultural research - 473
Statistical capacity building - 468
Site preservation - 453
Higher education - 429
Trade facilitation - 425
Mineral/Metal prospection and exploration - 408
Emergency/distress relief - 408
Telecommunications - 401
Biosphere protection - 393
Power generation/non-renewable sources - 389
Financial policy & admin. management - 384
Emergency health services/support - 383
Trade policy and admin. management - 382
Formal sector financial intermediaries - 370
Medical services - 368
Reintegration and SALW control - 361
Energy policy and admin. management - 354
Communications, purpose unspecified or does not fit under any other applicable codes - 353
Communications policy and administrative management - 351
Malaria control - 349
Health education - 348
Emergency Assistance and Reconstruction, combinations of purposes - 340
Power generation/renewable sources - 333
Urban development and management - 328
Agricultural education/training - 324
Road transport - 322
Basic health infrastructure - 304
Small and medium-sized enterprises (SME) development - 291
Agriculture, purpose unspecified or does not fit under any other applicable codes - 287
Education, level unspecified, purpose unspecified or does not fit under any other applicable codes - 282
Emergency Response, combination of purposes - 267
Basic life skills for youth & adults - 266
Media and free flow of information - 261
Basic life skills for youth and adults - 261
Nuclear power plants - 256
Secondary education - 254
Informal/semi-formal financial intermediaries - 245
Public finance management - 244
Water resources policy/admin. mgmt - 236
Conflict prevention and resolution, peace and security, purpose unspecified or does not fit under any other applicable codes - 228
Transport policy and administrative management - 224
Agricultural water resources - 217
Vocational training - 213
Forestry policy and administrative management - 210
Tourism policy and administrative management - 209
Privatisation - 196
Tuberculosis control - 195
Research/scientific institutions - 195
Post-conflict peace-building (UN) - 193
Educ./trng:water supply & sanitation - 192
Social mitigation of hiv/aids - 191
Government and civil society, combination of activities - 189
Water transport - 183
Agricultural policy & admin. mgmt - 181
Teacher training - 178
Informal/semi-formal fin. intermed. - 177
Health personnel development - 176
Women's equality organisations and institutions - 169
Rail transport - 169
Radio/television/print media - 168
Waste management/disposal - 165
Transport policy & admin. management - 163
Multisector education/training - 159
Employment policy and admin. mgmt. - 157
Elections - 157
Debt forgiveness - 153
Electrical transmission/ distribution - 152
Sme development - 148
Housing policy and administrative management - 146
Education and training in water supply and sanitation - 144
Industrial policy and administrative management - 143
Water supply & sanit. - large syst. - 141
Health, combination of general, basic, and population policy/reproductive health purposes - 136
Child soldiers (Prevention and demobilisation) - 136
Population policies/ programmes and reproductive health, combinations of activities - 135
General environmental protection, purpose unspecified (includes miscellaneous conservation and protection measures not mentioned below) or does not fit under any other applicable codes - 135
Energy generation and supply, purpose unspecified or does not fit under any other applicable codes - 126
Agricultural land resources - 126
Agricultural inputs - 116
Forestry development - 113
Mineral/mining policy and administrative management - 112
Decentralisation and support to subnational govt. - 112
Multilateral trade negotiations - 109
Narcotics control - 105
Health, purpose unspecified or does not fit under any other applicable codes - 101
Fishery development - 99
Agriculture, combinations of purposes in Agriculture, Agro-industry, Agribusiness - 99
Cottage industries and handicraft - 97
Construction policy and administrative management - 94
Agro-industries - 91
Reintegration and salw control - 88
Import support (capital goods) - 84
Advanced tech. & managerial training - 83
Legislatures and political parties - 83
Flood prevention/control - 82
Fishing policy and administrative management - 78
Environmental research - 77
General environmental protection, combinations of purposes - 76
Communications policy & admin. mgmt - 75
Water resources protection - 74
Trade policy and regulations, purpose unspecified (includes trade and trade promotion activities) or does not fit under any other applicable codes - 72
Rescheduling and refinancing - 71
Debt for development swap - 70
Child soldiers (prevention and demobilisation) - 69
Environmental education/ training - 69
Transport and Storage, purpose unspecified or does not fit under any other applicable codes - 64
Water supply & sanit. - large systems - 63
Information and communication technology - 63
Education, combinations of purposes - 62
Educational research - 60
Import support (commodities) - 58
Advanced technical and managerial training - 55
Support to non-governmental organizations and government organizations, purpose unspecified or does not fit under any other applicable codes - 55
River development - 53
Other social infrastructure and services, education and training - 53
Regional trade agreements (RTAs) - 50
Government and civil society, purpose unspecified or does not fit under any other applicable codes - 50
Water and sanitation services/support - 50
Medical research - 49
Anti-corruption organisations and institutions - 48
BUSINESS SUPPORT SERVICES & INSTITUTIONS - 47
Export Support - 47
Formal sector financ. intermediaries - 45
Relief co-ordination, protection and support services - 45
Medical education/training - 44
Gas distribution - 43
Technological research and development - 41
Electrical transmission/distribution - 40
Tourism policy and admin. management - 40
Support to national NGOs - 37
Housing policy and admin. management - 35
Support to international NGOs - 33
Agriculture, combination of purposes in Agriculture, Forestry, Fishing - 32
Support to local and regional NGOs - 31
Post-conflict peace building (un) - 30
Forestry, purpose unspecified or does not fit under any other applicable codes - 30
STD CONTROL INCLUDING HIV/AIDS - 26
HEALTH POLICY & ADMIN. MANAGEMENT - 25
ENERGY POLICY AND ADMIN. MANAGEMENT - 25
Banking and financial services, purpose unspecified or does not fit under any other applicable codes - 25
Monetary institutions - 24
Power generat./non-renewable sources - 23
Agricultural services - 23
BASIC HEALTH CARE - 22
Culture and recreation - 22
Fishing Development - 22
Reconstruction relief - 22
Energy education/training - 22
Non-agricultural alternative development - 20
Forestry research - 20
Promotion of development awareness - 19
Storage - 19
Forestry services - 19
Forestry policy & admin. management - 18
FINANCIAL POLICY & ADMIN. MANAGEMENT - 16
NUCLEAR POWER PLANTS - 16
INFECTIOUS DISEASE CONTROL - 16
ENVIRONMENTAL POLICY AND ADMIN. MGMT - 15
Conflict prevention and resolution, peace and security, combinations of activities - 14
Fishery services - 14
Water Supply and Sanitation, purpose unspecified or does not fit under any other applicable codes - 14
Industrial policy & admin. mgmt - 14
Environmental education/training - 14
Mineral/mining policy & admin. mgmt - 13
Regional trade agreements    (rtas) - 13
Refugees in Donor Countries - 13
Basic sanitation - 13
Health, general, purpose unspecified or does not fit under any other applicable codes - 13
Banking and financial services, combinations of activities - 12
Educ./trng in transport & storage - 12
FOOD SECURITY PROGRAMMES/FOOD AID - 12
FAMILY PLANNING - 12
Hydro-electric power plants - 11
Removal of land mines and explosive remnants of war - 11
Industrial crops/export crops - 11
Fishery research - 11
Fishing policy and admin. management - 11
Trade education/training - 11
Refugees in donor countries - 11
Petroleum distribution and storage - 10
PRIVATISATION - 10
Industry education and training - 10
Fishing, combination of activities - 10
Transport and Storage, combination of purposes - 9
Cottage industries & handicraft - 9
Fishery education/training - 9
Communications, education and training. - 9
Livestock - 9
Food crop production - 9
Education/training in banking and financial services - 9
Energy research - 9
Energy manufacturing - 8
Oil and gas - 8
FORMAL SECTOR FINANC. INTERMEDIARIES - 8
Forestry education/training - 8
FREE FLOW OF INFORMATION - 8
Administrative costs (non-sector allocable) - 8
Fishing, purpose unspecified or does not fit under any other applicable codes - 8
SECTORS NOT SPECIFIED - 8
EMPLOYMENT POLICY AND ADMIN. MGMT. - 8
Energy generation and supply, combinations of activities - 7
GOVERNMENT ADMINISTRATION - 7
AGRO-INDUSTRIES - 7
Industry services - 7
POPULATION POLICY AND ADMIN. MGMT - 7
SME DEVELOPMENT - 6
Support to national ngos - 6
SUPPORT TO LOCAL AND REGIONAL NGO'S - 6
Education and training in transport and storage - 6
Other debt swap - 6
Mineral resources and mining, purpose unspecified or does not fit under any other applicable codes - 6
LEGAL AN JUDICIAL DEVELOPMENT - 6
Agricultural alternative development - 6
BASIC NUTRITION - 6
STRENGTHENING CIVIL SOCIETY - 6
ADVANCED TECH. & MANAGERIAL TRAINING - 6
TELECOMMUNICATIONS - 6
Business and Other Services - 5
Support to local and regional ngos - 5
HUMAN RIGHTS - 5
Construction policy and admin. mgmt - 5
REINTEGRATION AND SALW CONTROL - 5
AGRICULTURAL DEVELOPMENT - 5
Non-agricultural alternative dvpt - 5
WATER RESOURCES POLICY/ADMIN. MGMT - 5
Communications, combinations of activities - 4
Textiles - leather & substitutes - 4
Multisector aid for basic soc. serv. - 4
NARCOTICS CONTROL - 4
Industry, combination of purposes Industry, Mining and Construction - 4
Water supply - large systems - 4
TRADE POLICY AND ADMIN. MANAGEMENT - 4
ECONOMIC AND DEVELOPMENT POLICY/PLANNING - 4
Technological research & development - 4
ROAD TRANSPORT - 4
AIR TRANSPORT - 4
POWER GENERAT./NON-RENEWABLE SOURCES - 4
Basic metal industries - 4
HIGHER EDUCATION - 3
Agricultural extension - 3
AGRICULTURAL POLICY & ADMIN. MGMT - 3
ENERGY MANUFACTURING - 3
BASIC METAL INDUSTRIES - 3
Water Research - 3
PUBLIC SECTOR FINANCIAL MANAGEMENT - 3
Transport equipment industry - 3
REPRODUCTIVE HEALTH CARE - 3
RAIL TRANSPORT - 3
EDUCATION POLICY & ADMIN. MANAGEMENT - 2
Biomass - 2
WATER TRANSPORT - 2
COMMUNICATIONS POLICY & ADMIN. MGMT - 2
Fertilizer plants - 2
MULTISECTOR AID - 2
General budget support-related aid - 2
TRADE FACILITATION - 2
Economic Infrastructure & Services - 2
Social mitigation of HIV/AIDS - 2
Business education and training - 2
BIO-DIVERSITY - 2
Oil-fired power plants - 2
Forest industries - 2
SOCIAL/WELFARE SERVICES - 2
Cement/lime/plaster - 2
HOUSING POLICY AND ADMIN. MANAGEMENT - 2
PRIMARY EDUCATION - 2
Agricultural financial services - 2
Non-ferrous metals - 2
Livestock/veterinary services - 2
Basic drinking water supply - 2
GENERAL BUDGET SUPPORT - 2
INFORMAL/SEMI-FORMAL FIN. INTERMED. - 2
STORAGE - 2
Refugees in donor countries (non-sector allocable) - 2
Mineral resources and mining, combination of purposes - 1
Relief of multilateral debt - 1
RADIO/TELEVISION/PRINT MEDIA - 1
WASTE MANAGEMENT/DISPOSAL - 1
Solar energy - 1
Education, level unspecified, combinations of purposes - 1
Low-cost housing - 1
MINERAL/MINING POLICY & ADMIN. MGMT - 1
TRANSPORT POLICY & ADMIN. MANAGEMENT - 1
Agricultural co-operatives - 1
BASIC LIFE SKILLS FOR YOUTH & ADULTS - 1
Tourism - 1
AGRICULTURAL SERVICES - 1
Population policies/ programmes and reproductive health, purpose unspecified or does not fit under any other applicable codes - 1
WOMEN'S EQUALITY ORGANISATIONS AND INSTITUTIONS - 1
Geothermal energy - 1
Personnel development for population and reproductive health - 1
ELECTIONS - 1
Sanitation - large systems - 1
POST-CONFLICT PEACE BUILDING (UN) - 1
EDUCATIONAL RESEARCH - 1
Personnel dvpt: pop. & repro health - 1
SECONDARY EDUCATION - 1
Industry, purpose unspecified (includes manufacturing of goods not specified below) or does not fit under any other applicable codes - 1

####### Categories of note
- Reproductive health care - 3416
- STD control including HIV/AIDS - 3008
- Std control including hiv/aids - 2969
- Family planning - 1706
- Women in development - 771
- Women's equality organisations and institutions - 169
- Health, combination of general, basic, and population policy/reproductive health purposes - 136
- Population policies/ programmes and reproductive health, combinations of activities - 135
- FAMILY PLANNING 12
- WOMEN'S EQUALITY ORGANISATIONS AND INSTITUTIONS 1

In [27]:
aid['aid_focus'] = 'Other'
aid.loc[aid['coalesced_purpose_name'] == 'Reproductive health care', 'aid_focus'] = 'Reproductive health care'
aid.loc[(aid['coalesced_purpose_name'] == 'STD control including HIV/AIDS') |
        (aid['coalesced_purpose_name'] == 'Std control including hiv/aids'), 'aid_focus'] = 'STD/HIV/AIDS'
aid.loc[(aid['coalesced_purpose_name'] == 'Family planning') |
        (aid['coalesced_purpose_name'] == 'FAMILY PLANNING'), 'aid_focus'] = 'Family planning'
aid.loc[aid['coalesced_purpose_name'] == 'Women in development', 'aid_focus'] = 'Women in development'
aid.loc[(aid['coalesced_purpose_name'] == "Women's equality organisations and institutions") |
        (aid['coalesced_purpose_name'] == "WOMEN'S EQUALITY ORGANISATIONS AND INSTITUTIONS"), 'aid_focus'] = \
        'Womens equality organizations and institutions'
aid.loc[(aid['coalesced_purpose_name'] == 'Health, combination of general, basic, and population policy/reproductive health purposes') |
        (aid['coalesced_purpose_name'] == "Population policies/ programmes and reproductive health, combinations of activities"), 'aid_focus'] = \
        'General health including reproductive health'
aid.aid_focus.value_counts()

Other                                             97117
STD/HIV/AIDS                                       5977
Reproductive health care                           3416
Family planning                                    1718
Women in development                                771
General health including reproductive health        271
Womens equality organizations and institutions      170
Name: aid_focus, dtype: int64

In [28]:
aid.columns

Index(['donor', 'recipient', 'year', 'coalesced_purpose_code',
       'coalesced_purpose_name', 'commitment_amount_usd_constant_sum',
       'donor_agg', 'aid_focus'],
      dtype='object')

##### Make wide (country-year format)

In [29]:
aid_donor_agg = aid.pivot_table(index=['recipient', 'year'], columns='donor_agg', 
                       values='commitment_amount_usd_constant_sum', aggfunc=sum).reset_index()
aid_donor = aid.pivot_table(index=['recipient', 'year'], columns='donor', 
                       values='commitment_amount_usd_constant_sum', aggfunc=sum).reset_index()
del aid_donor['United States']
aid_focus = aid.pivot_table(index=['recipient', 'year'], columns='aid_focus', 
                       values='commitment_amount_usd_constant_sum', aggfunc=sum).reset_index()
aid_focus['Womens Aid'] = aid_focus[['STD/HIV/AIDS', 'Reproductive health care', 'Family planning', 
                                 'Women in development', 'General health including reproductive health', 
                                 'Womens equality organizations and institutions']].sum(axis=1)
aid_donor_focus = aid.pivot_table(index=['recipient', 'year'], columns=['donor_agg', 'aid_focus'], 
                       values='commitment_amount_usd_constant_sum', aggfunc=sum).reset_index()
aid_donor_focus.columns = ['{}{}'.format(a, '{}'.format('-'+b if b else '')) for a, b in aid_donor_focus.columns]
un_cols = [col for col in aid_donor_focus if 'United Nations' in col and 'Other' not in col]
aid_donor_focus['United Nations-Womens Aid'] = aid_donor_focus[un_cols].sum(axis=1)
us_cols = [col for col in aid_donor_focus if 'United States' in col and 'Other' not in col]
aid_donor_focus['United States-Womens Aid'] = aid_donor_focus[us_cols].sum(axis=1)
aid_wide = aid_donor_agg.merge(aid_donor, on=['recipient', 'year'], 
                               how='outer').merge(aid_focus, on=['recipient', 'year'], how='outer') \
                                .merge(aid_donor_focus, on=['recipient', 'year'], how='outer')

In [30]:
aid_wide.fillna(0, inplace=True)

In [31]:
aid_wide.head()

,recipient,year,United Nations,United States,Joint United Nations Programme on HIV/AIDS (UNAIDS),United Nations Children`s Fund (UNICEF),United Nations Democracy Fund (UNDEF),United Nations Development Programme (UNDP),United Nations Economic Commission for Europe (UNECE),United Nations Economic and Social Commission for Asia and the Pacific (UNESCAP),...,United Nations-Womens equality organizations and institutions,United States-Family planning,United States-General health including reproductive health,United States-Other,United States-Reproductive health care,United States-STD/HIV/AIDS,United States-Women in development,United States-Womens equality organizations and institutions,United Nations-Womens Aid,United States-Womens Aid
0,Afghanistan,1973,0.0,40767666.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,40767666.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Afghanistan,1974,0.0,35999152.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,35999152.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Afghanistan,1975,0.0,27871564.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,27871564.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,1976,0.0,8688297.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,8688297.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,1977,0.0,16124956.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,16124956.0,0.0,0.0,0.0,0.0,0.0,0.0

##### Map recipient to country names from main data

In [32]:
recip_map_list = []
for recip in aid.recipient.unique():
    recip_dict = {'AIDname': recip}
    if recip in codes.WBname.tolist():
        recip_dict['WBname'] = codes.loc[codes['WBname']==recip, 'WBname'].values[0]
    else:
        recip_dict['WBname'] = None
    if recip in codes.COWname.tolist():
        recip_dict['COWname'] = codes.loc[codes['COWname']==recip, 'COWname'].values[0]
    else:
        recip_dict['COWname'] = None
    recip_map_list.append(recip_dict)
recip_map = pd.DataFrame(recip_map_list)

In [33]:
recip_map = recip_map.loc[~((recip_map.AIDname.str.contains('Regional')) | 
                            (recip_map.AIDname.str.contains('Bilateral')) | 
                            (recip_map.AIDname.str.contains('Unspecified')) |
                            (recip_map.AIDname.str.contains('Multi')) |
                            (recip_map.AIDname == 'no value') |
                            (recip_map.AIDname == 'Global') |
                            (recip_map.AIDname == 'European Commission'))]

In [34]:
recip_map[recip_map[['COWname', 'WBname']].isnull().all(axis=1)]

                             AIDname COWname WBname
21                Bosnia-Herzegovina    None   None
36     Congo, Democratic Republic of    None   None
37                Congo, Republic of    None   None
39                     Cote d`Ivoire    None   None
73     Korea, Democratic Republic of    None   None
104                             Niue    None   None
117              Sao Tome & Principe    None   None
128                      South Sudan    None   None
130                St. Kitts & Nevis    None   None
132          St.Vincent & Grenadines    None   None
143                Trinidad & Tobago    None   None
152                         Viet Nam    None   None
160           Palestinian Adm. Areas    None   None
167            Serbia and Montenegro    None   None
169                         Anguilla    None   None
170                     Cook Islands    None   None
182  Micronesia, Federated States of    None   None
183                       Montserrat    None   None
189                       St. Helena    None   None
190                          Tokelau    None   None
191         Turks and Caicos Islands    None   None
201                   Cayman Islands    None   None
206                 Hong Kong, China    None   None
213                            Macao    None   None
215                Northern Marianas    None   None
219                     Soviet Union    None   None
224              Virgin Islands (UK)    None   None

In [35]:
manual_map_list = [
    {
    'AIDname': 'Congo, Democratic Republic of',
    'WBname': 'Congo, Dem. Rep.',
    'COWname': 'Democratic Republic of the Congo'
    }, 
    {
    'AIDname': 'Congo, Republic of',
    'WBname': 'Congo, Rep.',
    'COWname': 'Congo'
    }, 
    {
    'AIDname': 'Cote d`Ivoire',
    'WBname': "Cote d'Ivoire",
    'COWname': 'Ivory Coast'
    },
    {
    'AIDname': 'Sao Tome & Principe',
    'WBname': 'Sao Tome and Principe',
    'COWname': 'Sao Tome and Principe'
    }, 
    {
    'AIDname': 'Micronesia',
    'WBname': 'Micronesia, Fed. Sts.',
    'COWname': 'Federated States of Micronesia'
    }, 
    {
    'AIDname': 'Viet Nam',
    'WBname': 'Vietnam',
    'COWname': 'Vietnam'
    }, 
    {
    'AIDname': 'Bosnia-Herzegovina',
    'WBname': 'Bosnia and Herzegovina',
    'COWname': 'Bosnia and Herzegovina'
    }, 
    {
    'AIDname': 'Korea, Democratic Republic of',
    'WBname': 'Korea, Democratic Republic of',
    'COWname': 'North Korea'
    }, 
    {
    'AIDname': 'St. Kitts & Nevis',
    'WBname': 'St. Kitts and Nevis',
    'COWname': 'St. Kitts and Nevis'
    }, 
    {
    'AIDname': 'St.Vincent & Grenadines',
    'WBname': 'St. Vincent and the Grenadines',
    'COWname': 'St. Vincent and the Grenadines'
    }, 
    {
    'AIDname': 'Trinidad & Tobago',
    'WBname': 'Trinidad and Tobago',
    'COWname': 'Trinidad and Tobago'
    }
]
manual_map = pd.DataFrame(manual_map_list)
manual_map

,AIDname,COWname,WBname
0,"Congo, Democratic Republic of",Democratic Republic of the Congo,"Congo, Dem. Rep."
1,"Congo, Republic of",Congo,"Congo, Rep."
2,Cote d`Ivoire,Ivory Coast,Cote d'Ivoire
3,Sao Tome & Principe,Sao Tome and Principe,Sao Tome and Principe
4,Micronesia,Federated States of Micronesia,"Micronesia, Fed. Sts."
5,Viet Nam,Vietnam,Vietnam
6,Bosnia-Herzegovina,Bosnia and Herzegovina,Bosnia and Herzegovina
7,"Korea, Democratic Republic of",North Korea,"Korea, Democratic Republic of"
8,St. Kitts & Nevis,St. Kitts and Nevis,St. Kitts and Nevis
9,St.Vincent & Grenadines,St. Vincent and the Grenadines,St. Vincent and the Grenadines
10,Trinidad & Tobago,Trinidad and Tobago,Trinidad and Tobago

In [36]:
for i, row in manual_map.iterrows():
    recip_map.loc[recip_map['AIDname']==row['AIDname'], 'COWname'] = row['COWname']
    recip_map.loc[recip_map['AIDname']==row['AIDname'], 'WBname'] = row['WBname']

In [37]:
aid_wide = aid_wide.merge(recip_map, left_on='recipient', right_on='AIDname', how='left')
aid_wide = aid_wide.loc[~aid_wide[['COWname', 'WBname']].isnull().all(axis=1)]
aid_wide.head()

,recipient,year,United Nations,United States,Joint United Nations Programme on HIV/AIDS (UNAIDS),United Nations Children`s Fund (UNICEF),United Nations Democracy Fund (UNDEF),United Nations Development Programme (UNDP),United Nations Economic Commission for Europe (UNECE),United Nations Economic and Social Commission for Asia and the Pacific (UNESCAP),...,United States-Other,United States-Reproductive health care,United States-STD/HIV/AIDS,United States-Women in development,United States-Womens equality organizations and institutions,United Nations-Womens Aid,United States-Womens Aid,AIDname,COWname,WBname
0,Afghanistan,1973,0.0,40767666.0,0.0,0.0,0.0,0.0,0.0,0.0,...,40767666.0,0.0,0.0,0.0,0.0,0.0,0.0,Afghanistan,Afghanistan,Afghanistan
1,Afghanistan,1974,0.0,35999152.0,0.0,0.0,0.0,0.0,0.0,0.0,...,35999152.0,0.0,0.0,0.0,0.0,0.0,0.0,Afghanistan,Afghanistan,Afghanistan
2,Afghanistan,1975,0.0,27871564.0,0.0,0.0,0.0,0.0,0.0,0.0,...,27871564.0,0.0,0.0,0.0,0.0,0.0,0.0,Afghanistan,Afghanistan,Afghanistan
3,Afghanistan,1976,0.0,8688297.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8688297.0,0.0,0.0,0.0,0.0,0.0,0.0,Afghanistan,Afghanistan,Afghanistan
4,Afghanistan,1977,0.0,16124956.0,0.0,0.0,0.0,0.0,0.0,0.0,...,16124956.0,0.0,0.0,0.0,0.0,0.0,0.0,Afghanistan,Afghanistan,Afghanistan

In [38]:
del aid_wide['recipient']

### Merge with Main DataFrame

In [39]:
# first on COWname, then WBname
df1 = df.merge(aid_wide, on=['COWname', 'year'], how='left')
del df1['WBname_y']
df1.rename(columns={'WBname_x': 'WBname'}, inplace=True)
df2 = df.merge(aid_wide, on=['WBname', 'year'], how='left')
del df2['COWname_y']
df2.rename(columns={'COWname_x': 'COWname'}, inplace=True)

In [40]:
df1.columns

Index(['DT.NFL.UNAI.CD', 'DT.ODA.OATL.CD', 'DC.DAC.USAL.CD', 'DC.DAC.TOTL.CD',
       'NY.GDP.MKTP.CD', 'NY.GDP.MKTP.KD.ZG', 'NY.GDP.PCAP.CD',
       'SP.POP.DPND.YG', 'SH.CON.1524.FE.ZS', 'SH.CON.1524.MA.ZS',
       'per_si_allsi.cov_pop_tot', 'per_sa_allsa.cov_pop_tot',
       'per_lm_alllm.cov_pop_tot', 'SE.SEC.CUAT.LO.ZS', 'SE.SEC.CUAT.LO.FE.ZS',
       'SE.SEC.CUAT.LO.MA.ZS', 'SE.PRM.CUAT.FE.ZS', 'SE.PRM.CUAT.MA.ZS',
       'SE.PRM.CUAT.ZS', 'SH.HIV.INCD.ZS', 'IT.NET.USER.ZS',
       'SL.TLF.CACT.FE.ZS', 'SL.TLF.CACT.MA.ZS', 'SP.POP.TOTL',
       'SL.UEM.TOTL.ZS', 'Time.Code', 'SH.STA.MMRT', 'SP.DYN.IMRT.IN',
       'SP.DYN.LE00.FE.IN', 'SP.DYN.LE00.MA.IN', 'SP.DYN.LE00.IN', 'WBcode',
       'WBname', 'COWabb', 'COWcode', 'COWname', 'Income', 'MENA', 'year',
       'polity2', 'durable', 'United Nations', 'United States',
       'Joint United Nations Programme on HIV/AIDS (UNAIDS)',
       'United Nations Children`s Fund (UNICEF)',
       'United Nations Democracy Fund (UNDEF)',
       'United Nations Development Programme (UNDP)',
       'United Nations Economic Commission for Europe (UNECE)',
       'United Nations Economic and Social Commission for Asia and the Pacific (UNESCAP)',
       'United Nations Economic and Social Commission for Western Asia (UNESCWA)',
       'United Nations High Commissioner for Refugees (UNHCR)',
       'United Nations Peacebuilding Fund (UNPBF)',
       'United Nations Population Fund (UNFPA)',
       'United Nations Relief and Works Agency for Palestine Refugees in the Near East (UNRWA)',
       'Family planning', 'General health including reproductive health',
       'Other', 'Reproductive health care', 'STD/HIV/AIDS',
       'Women in development',
       'Womens equality organizations and institutions', 'Womens Aid',
       'United Nations-Family planning',
       'United Nations-General health including reproductive health',
       'United Nations-Other', 'United Nations-Reproductive health care',
       'United Nations-STD/HIV/AIDS', 'United Nations-Women in development',
       'United Nations-Womens equality organizations and institutions',
       'United States-Family planning',
       'United States-General health including reproductive health',
       'United States-Other', 'United States-Reproductive health care',
       'United States-STD/HIV/AIDS', 'United States-Women in development',
       'United States-Womens equality organizations and institutions',
       'United Nations-Womens Aid', 'United States-Womens Aid', 'AIDname'],
      dtype='object')

In [41]:
df1.columns == df2.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True], dtype=bool)

In [42]:
df3 = pd.concat([df1, df2])

In [43]:
df = df3.drop_duplicates()
print(len(df3), len(df))

26422 12927

In [44]:
df.head()

,DT.NFL.UNAI.CD,DT.ODA.OATL.CD,DC.DAC.USAL.CD,DC.DAC.TOTL.CD,NY.GDP.MKTP.CD,NY.GDP.MKTP.KD.ZG,NY.GDP.PCAP.CD,SP.POP.DPND.YG,SH.CON.1524.FE.ZS,SH.CON.1524.MA.ZS,...,United States-Family planning,United States-General health including reproductive health,United States-Other,United States-Reproductive health care,United States-STD/HIV/AIDS,United States-Women in development,United States-Womens equality organizations and institutions,United Nations-Womens Aid,United States-Womens Aid,AIDname
0,NaN,NaN,15000000,15670000,537777811.1,NaN,59.77732651,76.52247462,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000000,33550000,548888895.6,NaN,59.87815281,77.52917821,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,13000000,15260000,546666677.8,NaN,58.49287383,78.08540637,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,32000000,34880000,751111191.1,NaN,78.78275804,78.37535115,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,37000000,44220000,800000044.4,NaN,82.20844386,78.62537426,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
df.columns

Index(['DT.NFL.UNAI.CD', 'DT.ODA.OATL.CD', 'DC.DAC.USAL.CD', 'DC.DAC.TOTL.CD',
       'NY.GDP.MKTP.CD', 'NY.GDP.MKTP.KD.ZG', 'NY.GDP.PCAP.CD',
       'SP.POP.DPND.YG', 'SH.CON.1524.FE.ZS', 'SH.CON.1524.MA.ZS',
       'per_si_allsi.cov_pop_tot', 'per_sa_allsa.cov_pop_tot',
       'per_lm_alllm.cov_pop_tot', 'SE.SEC.CUAT.LO.ZS', 'SE.SEC.CUAT.LO.FE.ZS',
       'SE.SEC.CUAT.LO.MA.ZS', 'SE.PRM.CUAT.FE.ZS', 'SE.PRM.CUAT.MA.ZS',
       'SE.PRM.CUAT.ZS', 'SH.HIV.INCD.ZS', 'IT.NET.USER.ZS',
       'SL.TLF.CACT.FE.ZS', 'SL.TLF.CACT.MA.ZS', 'SP.POP.TOTL',
       'SL.UEM.TOTL.ZS', 'Time.Code', 'SH.STA.MMRT', 'SP.DYN.IMRT.IN',
       'SP.DYN.LE00.FE.IN', 'SP.DYN.LE00.MA.IN', 'SP.DYN.LE00.IN', 'WBcode',
       'WBname', 'COWabb', 'COWcode', 'COWname', 'Income', 'MENA', 'year',
       'polity2', 'durable', 'United Nations', 'United States',
       'Joint United Nations Programme on HIV/AIDS (UNAIDS)',
       'United Nations Children`s Fund (UNICEF)',
       'United Nations Democracy Fund (UNDEF)',
       'United Nations Development Programme (UNDP)',
       'United Nations Economic Commission for Europe (UNECE)',
       'United Nations Economic and Social Commission for Asia and the Pacific (UNESCAP)',
       'United Nations Economic and Social Commission for Western Asia (UNESCWA)',
       'United Nations High Commissioner for Refugees (UNHCR)',
       'United Nations Peacebuilding Fund (UNPBF)',
       'United Nations Population Fund (UNFPA)',
       'United Nations Relief and Works Agency for Palestine Refugees in the Near East (UNRWA)',
       'Family planning', 'General health including reproductive health',
       'Other', 'Reproductive health care', 'STD/HIV/AIDS',
       'Women in development',
       'Womens equality organizations and institutions', 'Womens Aid',
       'United Nations-Family planning',
       'United Nations-General health including reproductive health',
       'United Nations-Other', 'United Nations-Reproductive health care',
       'United Nations-STD/HIV/AIDS', 'United Nations-Women in development',
       'United Nations-Womens equality organizations and institutions',
       'United States-Family planning',
       'United States-General health including reproductive health',
       'United States-Other', 'United States-Reproductive health care',
       'United States-STD/HIV/AIDS', 'United States-Women in development',
       'United States-Womens equality organizations and institutions',
       'United Nations-Womens Aid', 'United States-Womens Aid', 'AIDname'],
      dtype='object')

In [46]:
df.to_csv('full_data.csv', index=False)

In [47]:
wdi_col_map = pd.DataFrame.from_dict(wdi_col_map, orient='index').reset_index()
wdi_col_map.columns = ['col_name', 'description']
wdi_col_map.to_csv('wdi_column_name_mapping.csv', index=False)